@model IEnumerable<adstra_task.Areas.Identity.Data.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="align-items:center" >
    <div class="row">
        <div class="col-8 offset-2" style="background-color: black; text-align:center">
            <h1 class="text-center text-primary">All Users</h1>
            <a class="btn btn-sm btn-success m-1" asp-area="Identity" asp-page="/Account/RegisterNewUser">Create new User</a>
            <table class="table table-bordered">
                <tr class="text-center" style="background-color: black">
                    @*<th>UserID</th>*@
                    <th style="color: white" class="text-center">First Name</th>
                    <th style="color: white" class="text-center">Last Name</th>
                    <th style="color: white" class="text-center">Phone Number</th>
                    <th style="color: white" class="text-center">E-mail</th>
                    <th style="color: white" class="text-center">Update</th>
                    <th style="color: white" class=" text-center">Delete</th>
                </tr>
                @foreach (var d in Model)
                {
                    <tr class="text-center">

                        @*<td class="table-primary text-center">@d.Id</td>*@
                        <td class="table-secondary text-center">@d.FirstName</td>
                        <td class="table-success text-center">@d.LastName</td>
                        <td class="table-danger text-center">@d.PhoneNumber</td>
                        <td class="table-warning text-center">@d.Email</td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-controller="Home" asp-action="Update" asp-route-id="@d.Id">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@d.Id">Delete</a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $(document).on('click', '#Update', function () {


            var dataToSave = {

                Id: $("#Id").val(),
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                PhoneNumber: $("#PhoneNumber").val(),
                Email: $("#Email").val()

            };
            $.ajax({
                type: "POST",
                url: "/Home/Edit",
                data: JSON.stringify(dataToSave),
                contentType: 'application/json',
                success: function (data) {

                    setTimeout(function () { dialog.modal('hide'); }, 1000);
                    if (data.Code == 0) {
                        toastr.error(data.Msg);
                    }
                    else if (data.Code == 1) {
                        $('#myModal').modal('hide');
                        toastr.success(data.Msg);

                    }

                },
                error: function (data) {
                    setTimeout(function () { dialog.modal('hide'); }, 1000);
                    toastr.error(data);
                }

            });


        });

</script>




